* {
    margin: 0;
    padding: 0;
}

.parent {
    border: 2px solid black;
    border-radius: 23px;
    align-items: center;

}
.footer {
    border: 2px solid black;
    border-radius: 23px;
    align-items: center;

}

.image1 {
    margin: 10px;
    padding: 10px;
    border-radius: 20px;

}
.spa{
    border: 2px solid black;
        border-radius: 23px;
        align-items: center;
}
.he{
    border: 2px solid black;
        border-radius: 23px;
        align-items: center;
}
