.btn{
  background-color: aqua;
  font-size: 40px;
  border-color: blueviolet;
  border-style: groove;
  border-width: 10px;
  width: 25%;
  height: 30%;
}
.my-class{
  width: 50%;
  height: 50%;
  background-color: chartreuse;
  text-align: center;
  border-radius: 12px;
  border-color: blue;
  border-width: 10px;
  border-style: inset;

}
h1{
  font-size: 200px;
  color: brown;
}